<div class="media-body">
  <h4><a href="{{result.uri}}" ng-bind-html-unsafe="result.title"></a></h4>

  <p class="text-success">
    <small>{{result.uri}}</small>
  </p>
  <p ng-bind-html-unsafe="result.content"></p>
</div>