<form class="form-inline well clearfix text-center">
  <label class="control-label" for="company">Company</label>
  <input type="text" id="company" ng-model="company">
  <label class="control-label" for="jobTitle">Job Title</label>
  <input type="text" id="jobTitle" ng-model="job_title">
  <label class="control-label" for="name">Name</label>
  <input type="text" id="name" ng-model="name">
  <button type="submit" class="btn btn-primary" ng-click="search()"><i class="icon-search"></i></button>
</form>