<form class="form-horizontal">
  <div class="control-group">
    <label class="control-label" for="company">Company</label>
    <div class="controls">
      <input type="text" id="company" placeholder="Amazon.com">
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="jobTitle">Job Title</label>
    <div class="controls">
      <input type="text" id="jobTitle" placeholder="SDE">
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="name">Name</label>
    <div class="controls">
      <input type="text" id="name" placeholder="Jeff Bezos">
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
      <button type="submit" class="btn btn-primary">Search</button>
    </div>
  </div>
</form>