<div class="row-fluid well">
  <div class="span6">
    <%= render :partial => 'company_search_form' %>
  </div>
  <div class="span6">
    <%= render :partial => 'email_address_verification_form' %>
  </div>
</div>