<div class="container-fluid">
  <div class="row-fluid">
    <%= bootstrap_flash %>
    <div class="text-center muted">
      <em>
        <p>Prospector is the next generation platform for any sales organization that needs to find target customers and
          their contact information.</p>
        <p>All the tools on this site are designed to take the frustration and time out of finding
          targets</p>
      </em>
    </div>
    <%= yield %>
  </div>
</div>