<div class="navbar navbar-fluid-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container-fluid">
      <a class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse">
      </a>
      <a class="brand" href="/">Prospector</a>
      <div class="container-fluid nav-collapse">
        <ul class="nav pull-right">
          <% if user_signed_in? %>
            <li><%= link_to 'Edit profile', edit_user_registration_path %> </li>
            <li><%= link_to "Logout", destroy_user_session_path %></li>
            <% else %>
            <li><%= link_to "Sign up", new_user_registration_path %></li>
            <li><%= link_to "Login", new_user_session_path %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
