<!DOCTYPE html>
<html ng-app="ProspectorClient" lang="en">
  <head>
    <%= render :partial => 'layouts/head_element' %>
  </head>
  <body>
    <%= render :partial => 'layouts/header' %>
    <%= render :partial => 'layouts/content' %>
  </body>
</html>